@use '/src/colors.module.scss' as *;

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $secondary-color;
}

body,
input {
  font-size: 16px;
}

main {
  padding: 20px 20px 50px;
}

p {
  font-size: 1.1em;
}

h1 {
  text-align: center;
}

a {
  color: $main-color;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;

  .button {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

button,
a.button,
button:disabled:hover {
  background-color: $main-color;
  color: $secondary-color;
  font-size: 1.2em;
  font-weight: bold;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  align-self: center;
  border-radius: 10px;
}

a.button,
button {
  &:hover {
    background-color: $btn-hoover-color;
  }
}

button:disabled {
  opacity: 0.5;
}

.form-container,
.big-container {
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  width: 80%;
  max-width: 840px;
  background-color: white;
  border: $grey-color solid;
  border-radius: 10px;
}

.form-container.fields {
  flex-direction: column;
  width: 80%;
}

input,
textarea {
  color: $text-color;
  width: 100%;
  padding: 16px;
  display: inline-block;
  border: none;
  background: $grey-color;
  border-radius: 10px;
}

input {
  margin: 6px 0;

  &:focus {
    background: rgba($grey-color, 0.7);
    outline: none;
  }

  &[type="checkbox"] {
    width: unset;
  }
}

label {
  padding-left: 10px;
  margin-right: 10px;
}

p.error {
  color: $main-color;
  margin: 0 6px;
}

.inputCont {
  margin: 6px 0 22px;
}

.global-loader-overlay {
  position: fixed;
  top: 140px;
  left: 0;
  width: 100%;
  height: calc(100% - 140px - 50px);
  background: rgba(white, 0.6);
  z-index: 9998;
  pointer-events: none; // allows click-through overlay on other elements

  .global-loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $main-color;
    pointer-events: auto;
  }
}
