$main-color: #612940;
$secondary-color: #fdecef;

$grey-color: #cecccc;
$medium-gray: #555;
$dark-gray: #333;

$navy-color: #2c3e50;
$steel-blue: #34495e;

$text-color: #0f110c;

$btn-hoover-color: #9d6381;

:export {
  mainColor: $main-color;
}
