@use "/src/colors.module.scss" as *;

.container-home {
  width: 70%;
  margin: 0 auto;
}

.container-home h1 {
  font-size: 1.8em;
  color: $navy-color;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 1.1em;
  color: $steel-blue;
  line-height: 1.6;
}

.list {
  text-align: left;
  margin-top: 20px;
}

.list li {
  font-size: 1.2em;
  color: $navy-color;
  margin-bottom: 10px;
}

.list li strong {
  font-weight: bold;
}
