.no-videos-container {
  margin: auto; 
  height: 700px auto;
  margin-top: 150px;
  text-align: center;
}
.catalog-container {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
}

.catalog-container {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  max-width: 300px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card p {
  padding: 0 15px;
}

.card:hover {
  transform: translateY(-5px);
}
