@use '/src/colors.module.scss' as *;

header,
header ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

header {
  background-color: $main-color;
  color: $grey-color;
  height: 35px;
  padding: 10px;
  align-items: center;
  margin: 42px 0;
}

header li {
  list-style: none;
  margin: 6px 10px;
  white-space: nowrap;
}

header a {
  color: $secondary-color;
  border-radius: 8px;
  margin-left: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.2em;
}

header a:hover {
  color: $grey-color; 
}

nav ul {
  flex: 1;
}

.logo {
  height: 140px;
  margin-top: 10px;
}